.footer {
  padding: 60px 0px;
  background-color: var(--secondary-background-color);
  &__box {
    display: flex;
    align-items: baseline;
  }
  &__section {
    margin-right: 70px;
  }
  &__address {
    margin-top: 28px;
  }
}

.nav {
  display: inline-block;
}

.address {
  font-style: normal;
  &__post {
    color: var(--secondary-text-color);
    @include font(400, 14px, 24px, 0.03em);
    transition: color 250ms var(--timing-function);
  }
  &__contacts {
    display: block;
    margin-top: 12px;
    color: var(--transparent-color);
    @include font(400, 14px, 24px, 0.03em);
    transition: color 250ms var(--timing-function);
  }
  &__post:hover,
  &__post:focus,
  &__contacts:hover,
  &__contacts:focus {
    color: var(--accent-color);
  }
}

.social {
  display: inline-block;
  &__text {
    margin-bottom: 20px;
    color: var(--secondary-text-color);
    @include font(700, 14px, 16px, 0.03em);
    text-transform: uppercase;
  }

  &__list {
    @include flex-align;
    justify-content: center;
  }

  &__item {
    width: 44px;
    height: 44px;
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: var(--secondary-text-color);
    background-color: var(--bg-icon-color);
    transition: background-color 250ms var(--timing-function);
  }

  &__link:hover,
  &__link:focus {
    background-color: var(--accent-color);
  }

  &__icon {
    fill: currentColor;
  }
}
